:root{
    --main:rgb(155, 155, 223);
}


*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
/******************************************************************
*                                                                 *
*                       NAVBAR STYLE                                          *
*                                                                 *
******************************************************************/ 
.appbar-container{
    padding: 1rem 5%;
    background-color: var(--main);
}
.appbar-container{
    a{
        color: #fff;
        font-weight: 800;
    }
}


.header-container{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(67, 67, 99, 0.7), rgba(67, 67, 99, 0.7)),
        url('../assets/images/people-2557396_1280.jpg');
    background-size: 100% 100%;
    h1{
        color: #fff;
        font-size: 3rem;
        font-weight: 900;
    }
}